<div class="container mt-5">
  <h2>Categories registered</h2>
  <app-category-create [categoryList]="categoryList"></app-category-create>
  <table class="table mt-4 table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let category of categoryList
            | slice : (page - 1) * pageSize : page * pageSize
        "
      >
        <td>{{ category.name }}</td>
        <td class="text-center">
          <a
            class="btn btn-outline-danger m-1"
            placement="top"
            ngbTooltip="Tooltip on top"
            (click)="deleteCategory(category.id)"
            ><i class="bi bi-trash"></i
          ></a>
          <app-category-edit
            [categoryList]="categoryList"
            [categoryModel]="category"
          ></app-category-edit>
        </td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="categoryList.length"
    class="d-flex justify-content-center"
  >
  </ngb-pagination>
</div>
