<div class="container mt-5">
  <h2>Categories registered</h2>
  <table class="table mt-4 table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let category of categoryList
            | slice : (page - 1) * pageSize : page * pageSize
        "
      >
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td class="text-center">
          <a
            class="btn btn-outline-danger m-1"
            placement="top"
            ngbTooltip="Tooltip on top"
            (click)="deleteCategory(category.id)"
            ><i class="bi bi-trash"></i
          ></a>
          <a class="btn btn-outline-info m-1"
            ><i class="bi bi-pencil-square"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="categoryList.length"
    class="d-flex justify-content-center"
  >
  </ngb-pagination>
</div>
