<button class="btn btn-outline-dark" (click)="open(content)">
  Create category
</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create category</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="col-sm">
          <label for="authorName" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="authorName"
            name="authorName"
            aria-describedby="authorNameFeedback"
            [(ngModel)]="categoryModel.name"
            #name="ngModel"
            [minlength]="3"
            [ngClass]="name.touched && !name.valid ? 'is-invalid' : ''"
            required
          />
          <div
            id="authorNameFeedback"
            class="invalid-feedback"
            *ngIf="name.touched && !name.valid"
          >
            Invalid name
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="createCategory()"
      [disabled]="!name.valid"
    >
      Save
    </button>
  </div>
</ng-template>
