<div class="container mt-5">
  <h2>{{ bookList.length }} Books registered</h2>
  <table class="table mt-4 table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Publisher</th>
        <th scope="col">releaseDate</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let book of bookList | slice : (page - 1) * pageSize : page * pageSize
        "
      >
        <td>
          <a [routerLink]="[book.id]">{{ book.title }}</a>
        </td>
        <td class="overflow-hidden">{{ book.publisher }}</td>
        <td>{{ book.releaseDate }}</td>
        <td class="text-center">
          <a
            class="btn btn-outline-danger m-1"
            placement="top"
            ngbTooltip="Tooltip on top"
            (click)="deleteBook(book.id)"
            ><i class="bi bi-trash"></i
          ></a>
          <app-book-edit [bookModel]="book"></app-book-edit>
        </td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="bookList.length"
    class="d-flex justify-content-center"
  >
  </ngb-pagination>
</div>
