<div class="container mt-5 h-100">
  <h2>{{ bookList.length }} Books registered</h2>

  <div class="row" style="overflow-y: auto; height: 550px">
    <div
      class="card m-2 text-white book-card col-5"
      *ngFor="let book of bookList"
    >
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ book.releaseDate }}</h6>
        <ul class="list-unstyled">
          <li>
            <small>
              <i class="bi bi-person mx-2"></i>
              {{ book.publisher }}
            </small>
          </li>
          <li>
            <small>
              <i class="bi bi-journals mx-2"></i>
              Pages {{ book.pages }}
            </small>
          </li>
          <li>
            <small>
              <a
                class="btn btn-secondary m-1"
                placement="top"
                ngbTooltip="Tooltip on top"
                (click)="deleteBook(book.id)"
                ><i class="bi bi-trash"></i
              ></a>
              <a class="btn btn-info m-1"
                ><i class="bi bi-pencil-square"></i
              ></a>
            </small>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
