<div class="container my-4">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Book store CRUD</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      This is a simple bookstore with CRUD operations. This project was made the
      backend in .net Core 6 and in the frontend with Angular. The main entities
      are books, authors and categories. All these entities have a relational
      schema that is reflected in the data base.
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <button
        class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
        type="button"
      >
        Check Books
        <svg class="bi ms-2" width="24" height="24">
          <use xlink:href="#arrow-right-short"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col m-3 p-3">
    <div class="card" style="width: 18rem">
      <img
        src="/assets/images/book_background.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">BOOKS</h5>
        <p class="card-text">
          One book can have multiple categories and authors.
        </p>
      </div>
    </div>
  </div>
  <div class="col m-3 p-3">
    <div class="card" style="width: 18rem">
      <img src="/assets/images/people.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">AUTHORS</h5>
        <p class="card-text">The author entitie is related to the books.</p>
      </div>
    </div>
  </div>
  <div class="col m-3 p-3">
    <div class="card" style="width: 18rem">
      <img src="/assets/images/categories.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">CATEGORIES</h5>
        <p class="card-text">
          The categories are related with the books. in the book detail section
          you can add or delete these categories.
        </p>
      </div>
    </div>
  </div>
  <div class="col m-3 p-3">
    <div class="card" style="width: 18rem">
      <img src="/assets/images/net-core.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">STACK</h5>
        <p class="card-text">
          Some of the technologies used in this project are: .net Core, Angular,
          Dapper, SQL Server, Bootstrap, Fluent validator, Docker.
        </p>
      </div>
    </div>
  </div>
</div>
