<div style="height: 100vh">
  <div class="row m-2">
    <div class="col-3 card shadow-lg m-2" style="height: 90vh;">
      <div class="container mt-3 text-left">
        <h2>Book Store</h2>

        <ul class="list-group">
          <li
            class="list-group-item m-3 p-2 mb-0 pb-1 bg-dark text-white rounded-4 pointer-hoover text-center"
            routerLink="/"
          >
            <i class="bi bi-house-check-fill"></i> Overview
          </li>
          <li
            class="list-group-item m-3 p-2 mb-0 pb-1 bg-dark text-white rounded-4 pointer-hoover text-center"
            (click)="isCollapsedAuthor = !isCollapsedAuthor"
            [attr.aria-expanded]="!isCollapsedAuthor"
            aria-current="true"
          >
            <i class="bi bi-person-circle"></i> Authors
          </li>
          <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsedAuthor">
            <div class="card m-3 mt-0 text-end">
              <ul class="list-group">
                <li class="list-group-item pointer-hoover" routerLink="/author">
                  List
                </li>
                <li
                  class="list-group-item pointer-hoover"
                  routerLink="/author/create"
                >
                  Create Author
                </li>
              </ul>
            </div>
          </div>
          <li
            class="list-group-item m-3 p-2 mb-0 pb-1 bg-dark text-white rounded-4 pointer-hoover text-center"
            (click)="isCollapsedBook = !isCollapsedBook"
            [attr.aria-expanded]="!isCollapsedBook"
            aria-current="true"
          >
            <i class="bi bi-book-half"></i> Books
          </li>
          <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsedBook">
            <div class="card m-3 mt-0 text-end">
              <ul class="list-group">
                <li class="list-group-item pointer-hoover" routerLink="/book">
                  List
                </li>
                <li
                  class="list-group-item pointer-hoover"
                  routerLink="/book/create"
                >
                  Create book
                </li>
              </ul>
            </div>
          </div>
          <li
            class="list-group-item m-3 p-2 mb-0 pb-1 bg-dark text-white rounded-4 pointer-hoover text-center"
            (click)="isCollapsedCategory = !isCollapsedCategory"
            [attr.aria-expanded]="!isCollapsedCategory"
            aria-current="true"
          >
            <i class="bi bi-bookmark-star-fill"></i> Categories
          </li>
          <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsedCategory">
            <div class="card m-3 mt-0 text-end">
              <ul class="list-group">
                <li
                  class="list-group-item pointer-hoover"
                  routerLink="/category"
                >
                  List
                </li>
                <li
                  class="list-group-item pointer-hoover"
                  routerLink="/category/create"
                >
                  Create Category
                </li>
              </ul>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <div class="col card shadow-lg m-2" style="height: 90vh">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
