<div class="container mt-5">
  <h2>Authors registered</h2>
  <table class="table mt-4 table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Country</th>
        <th scope="col">Books #</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let author of authorList
            | slice : (page - 1) * pageSize : page * pageSize
        "
      >
        <td>{{ author.name }}</td>
        <td>{{ author.country }}</td>
        <td>{{ author.books?.length }}</td>
        <td>
          <a
            class="btn btn-outline-danger m-1"
            placement="top"
            ngbTooltip="Tooltip on top"
            (click)="deleteAuthor(author.id)"
            ><i class="bi bi-trash"></i
          ></a>
          <a class="btn btn-outline-info m-1"
            ><i class="bi bi-pencil-square"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="authorList.length"
    class="d-flex justify-content-center"
  >
  </ngb-pagination>
</div>
