<div class="container mt-5">
  <h2>Authors registered</h2>
  <table class="table mt-4 table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Country</th>
        <th scope="col">Books #</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let author of authorList
            | slice : (page - 1) * pageSize : page * pageSize
        "
      >
        <th>{{ author.name }}</th>
        <td>{{ author.country }}</td>
        <td>{{ author.books?.length }}</td>
        <td>Delete, Update, View</td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination
    [(page)]="page"
    [pageSize]="pageSize"
    [collectionSize]="authorList.length"
    class="d-flex justify-content-center"
  >
  </ngb-pagination>
</div>
